appdirs==1.4.3
buildozer==0.32
Cython==0.25.2
dj-database-url==0.4.2
Django==1.11
dnspython==1.15.0
enum34==1.1.6
file-magic==0.3.0
gunicorn==19.7.1
idna==2.1
ipaddress==1.0.17
javascriptcore==0.3
Jinja2==2.9.5
MarkupSafe==1.0
matplotlib==2.0.0
numpy==1.12.1
oauthlib==1.1.2
packaging==16.8
pathlib2==2.1.0
python-dateutil==2.6.0
python3-xlib==0.15
pytz==2017.2
requests==2.11.1
requests-oauthlib==0.6.2
sh==1.12.13
six==1.10.0
subprocess32==3.2.7
urllib3==1.16
virtualenv==15.1.0
whitenoise==3.3.0
xpybutil==0.0.1
