appdirs==1.4.3
buildozer==0.32
Cython==0.25.2
dj-database-url==0.4.2
Django==1.11
gunicorn==19.7.1
matplotlib==2.0.0
numpy==1.12.1
oauthlib==1.1.2
packaging==16.8
pathlib2==2.1.0
python-dateutil==2.6.0
python3-xlib==0.15
pytz==2017.2
requests==2.11.1
requests-oauthlib==0.6.2
virtualenv==15.1.0
whitenoise==3.3.0
